:host {
  display: flex;
  position: relative;
  z-index: 2;
}
.sidebar--open {
  width: 250px;
  transition: width 0.3s;
}

.sidebar--close {
  display: none !important;
}

.sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  background-color: #fff;
  color: #fff;
  transition: width 0.3s;
  padding: 0.5rem 1rem;
}

.header-aside {
  display: flex;
  gap: 1rem;
}
.close-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}


.sidebar-nav {
  display: flex;
  flex-grow: 1;
  width: 100%;
}

.sidebar-nav > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.sidebar__overlay {
  background-color: rgb(var(--color-secondary), 0.3);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 250px;
}

.sidebar__overlay--close {
  display: none;
}

.sidebar__overlay--open {
  display: flex;
}
