<aside class="sidebar" [ngClass]="isOpen ? 'sidebar--open': 'sidebar--close'">
  <div class="header-aside">
    <button (click)="close()" class="close-button">
      <app-menu-icon></app-menu-icon>
    </button>
    <img src="https://universidadeuropea.com/resources/static/img/ue-logo-new.svg" height="30">
  </div>
  <nav class="sidebar-nav">
    <ul>
      <app-sidebar-nav-item [label]="'Home'" [url]="'/'">
        <app-home-icon role="icon"></app-home-icon>
      </app-sidebar-nav-item>
      <app-sidebar-nav-item [label]="'Alumnos'" [hasSubmenu]="true">
        <app-group-icon role="icon"></app-group-icon>
        <app-submenu role="submenu">
          <li>
            <app-sidebar-nav-item [label]="'Nuevo expediente'" [url]="'/student/form'"></app-sidebar-nav-item>
          </li>
          <li>
            <app-sidebar-nav-item [label]="'Consulta Alumnos'" [url]="'/student/search'"></app-sidebar-nav-item>
          </li>
        </app-submenu>
      </app-sidebar-nav-item>
      <app-sidebar-nav-item [label]="'RRII'" [hasSubmenu]="true">
        <app-paper-icon role="icon"></app-paper-icon>
        <app-submenu role="submenu">
          <li>
            <app-sidebar-nav-item [label]="'Consulta RRII'" [url]="'/'"></app-sidebar-nav-item>
          </li>
          <li>
            <app-sidebar-nav-item [label]="'Expediente'" [url]="'/'"></app-sidebar-nav-item>
          </li>
          <li>
            <app-sidebar-nav-item [label]="'Expediente Academico'" [url]="'/'"></app-sidebar-nav-item>
          </li>
          <li>
            <app-sidebar-nav-item [label]="'Consulta de profesores'" [url]="'/'"></app-sidebar-nav-item>
          </li>
          <li>
            <app-sidebar-nav-item [label]="'Carga de ficheros'" [url]="'/'"></app-sidebar-nav-item>
          </li>
        </app-submenu>
      </app-sidebar-nav-item>
      <app-sidebar-nav-item [label]="'Informes'" [hasSubmenu]="true">
        <app-pdf-icon role="icon"></app-pdf-icon>
        <ul role="submenu">
          <!-- <li><a href="">6º7º Convocatoria</a></li>
          <li><a href="">Paso de curso/ciclo</a></li> -->
					<li>
						<app-sidebar-nav-item [label]="'6º7º Convocatoria'" [url]="'/'"></app-sidebar-nav-item>
					</li>
					<li>
						<app-sidebar-nav-item [label]="'Paso de curso/ciclo'" [url]="'/'"></app-sidebar-nav-item>
					</li>
        </ul>
      </app-sidebar-nav-item>
    </ul>
  </nav>
  <div>
    <ul>
      <li>
        <button>
          Modo oscuro
        </button>
      </li>
      <li>
        <!-- <button>
          ajustes
        </button> -->
        <app-sidebar-nav-item [label]="'Ajustes'" [url]="'/'">
          <app-settings-icon role="icon"></app-settings-icon>
        </app-sidebar-nav-item>

      </li>
      <li>
				<app-sidebar-nav-item [label]="'Salir'" [url]="'/'">
          <app-logout-icon role="icon"></app-logout-icon>
				</app-sidebar-nav-item>
      </li>
    </ul>
  </div>
</aside>
<div class="sidebar__overlay grow-1" [ngClass]="isOpen ? 'sidebar__overlay--open': 'sidebar__overlay--close'"
  (click)="close()"></div>
