<aside class="fixed flex-col top-0 left-0 h-full w-64 bg-whiter transition-all py-2 px-4"
  [ngClass]="isOpen ? 'w-64 transition-all flex': 'hidden'">
  <div class="flex gap-4">
    <button (click)="close()" class="bg-transparent cursor-pointer text-2xl">
      <i class="ri-menu-line" role="icon"></i>
    </button>
    <div class="w-28 self-stretch">
      <app-ue-logo></app-ue-logo>
    </div>
  </div>
  <hr class="divide-x-2 border-black my-4">
  <nav class="flex grow w-full">
    <ul class="w-full">
      <app-sidebar-nav-item [label]="'Home'" [url]="'/'">
        <!-- <app-home-icon role="icon"></app-home-icon> -->
        <i class="ri-home-4-line" role="icon"></i>
      </app-sidebar-nav-item>
      <app-sidebar-nav-item [label]="'Alumnos'" [hasSubmenu]="true">
        <!-- <app-group-icon role="icon"></app-group-icon> -->
        <i class="ri-group-line" role="icon"></i>
        <app-submenu role="submenu">
          <li>
            <app-sidebar-nav-item [label]="'Nuevo expediente'" [url]="'/student/form'"></app-sidebar-nav-item>
          </li>
          <li>
            <app-sidebar-nav-item [label]="'Consulta Alumnos'" [url]="'/student/search'"></app-sidebar-nav-item>
          </li>
        </app-submenu>
      </app-sidebar-nav-item>

      <app-sidebar-nav-item [label]="'Titulaciones'" [url]="'/titulaciones'">
        <i class="ri-book-2-line" role="icon"></i>
      </app-sidebar-nav-item>
      <app-sidebar-nav-item [label]="'Matriculas'" [url]="'/matriculas'">
        <i class="ri-file-list-3-line" role="icon"></i>
      </app-sidebar-nav-item>
    </ul>
  </nav>
  <div>
    <ul>
      <li>
        <!-- <button>
          ajustes
        </button> -->
        <app-sidebar-nav-item [label]="'Ajustes'" [url]="'/'">
          <!-- <app-settings-icon role="icon"></app-settings-icon> -->
          <i class="ri-settings-3-line" role="icon"></i>
        </app-sidebar-nav-item>

      </li>
      <li>
        <app-sidebar-nav-item [label]="'Salir'" [url]="'/'">
          <!-- <app-logout-icon role="icon"></app-logout-icon> -->
          <i class="ri-logout-box-line" role="icon"></i>
        </app-sidebar-nav-item>
      </li>
    </ul>
  </div>
</aside>
<div class="bg-black/10 fixed h-full w-full top-0 left-64 grow" [ngClass]="isOpen ? 'flex': 'hidden'" (click)="close()">
</div>
