<button
  [ngClass]="{
    'btn': true,
    'btn-primary': (themeType === 'primary' || !themeType) && !disabled,
    'disabled-btn-primary': (themeType === 'primary' || !themeType) && disabled,
    'btn-secondary': themeType === 'secondary' && !disabled,
    'disabled-btn-secondary': themeType === 'secondary' && disabled,
    'btn-outline': themeType === 'outline' && !disabled,
    'disabled-btn-outline': themeType === 'outline' && disabled,
    'btn-light': themeType === 'light' && !disabled,
    'disabled-btn-light': themeType === 'light' && disabled,
    'btn-dark': themeType === 'dark' && !disabled,
    'disabled-btn-dark': themeType === 'dark' && disabled,
    'btn-sm': size === 'sm',
    'btn-md': size === 'md',
    'btn-lg': size === 'lg',
    'btn-shadow': shadow,
  }"
  [disabled]="disabled"
  [type]="htmlType"
  (click)="onClick.emit()"
>
  <ng-content></ng-content>
</button>
