<button
  class="flex cursor-pointer items-center justify-center gap-2 rounded-md border transition-colors"
  [ngClass]="{
    'btn-primary': (themeType === 'primary' || !themeType) && !disabled,
    'disabled-btn-primary': (themeType === 'primary' || !themeType) && disabled,
    'btn-secondary': themeType === 'secondary' && !disabled,
    'disabled-btn-secondary': themeType === 'secondary' && disabled,
    'btn-outline': themeType === 'outline' && !disabled,
    'disabled-btn-outline': themeType === 'outline' && disabled,
    'btn-light': themeType === 'light' && !disabled,
    'disabled-btn-light': themeType === 'light' && disabled,
    'btn-dark': themeType === 'dark' && !disabled,
    'disabled-btn-dark': themeType === 'dark' && disabled,
    'px-1 py-0.5': size === 'sm',
    'px-1.5 py-1': size === 'md',
    'px-2 py-1.5': size === 'lg',
    'shadow-md hover:shadow-lg': shadow,
  }"
  [disabled]="disabled"
  [type]="htmlType"
  (click)="onClick.emit()"
>
  <ng-content></ng-content>
</button>
