.btn {
  /* background-color: #007bff; */
  /* color: white; */
  border: none;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.btn-shadow {
  box-shadow: 0 2px 4px rgb(var(--color-black), 0.5);
}

.btn-sm{
  padding: 5px 10px;
  font-size: 14px;
}
.btn-md{
  padding: 10px 20px;
  font-size: 16px;
}
.btn-lg{
  padding: 15px 30px;
  font-size: 18px;
}

.btn-primary {
  background-color: rgb(var(--color-primary), 0.9);
  color: white;
  border-color: rgb(var(--color-primary));
}
.btn-primary:hover {
  background-color: rgb(var(--color-primary));
}

.disabled-btn-primary {
  background-color: rgb(var(--color-primary), 0.5);
  color: white;
  border-color: rgb(var(--color-primary));
}

.btn-secondary {
  background-color: rgb(var(--color-secondary), 0.9);
  border-color: rgb(var(--color-secondary));
  color: white;
}
.btn-secondary:hover {
  background-color: rgb(var(--color-secondary));
}

.disabled-btn-secondary {
  background-color: rgb(var(--color-secondary), 0.5);
  color: white;
  border-color: rgb(var(--color-secondary));
}

.btn-outline {
  background-color: transparent;
  color: rgb(var(--color-black));
  border-color: (var(--color-black));
}

.btn-outline:hover {
  background-color: rgb(var(--color-black), 0.05);
}

.disabled-btn-outline {
  border-color: rgb(var(--color-black), 0.5);
}
