<app-modal [isOpen]="isOpen()" [title]="'Matricula'" (onClose)="this.matriculaFormService.close()">
  <form class="flex flex-col gap-2" [formGroup]="matriculaForm">
    <app-select [label]="'Id Expediente'" [options]="this.estuantesService.getIdExpedientes()"
      formControlName="idExpediente"></app-select>
    <app-select [label]="'Id Titulacion'" [options]="this.titulacionesService.getIdTitulaciones()"
      formControlName="idTitulacion"></app-select>
    @if (this.matricula()?.numeroMatricula) {
    <!-- <app-input [label]="'Estado Matriculación'" formControlName="estadoMatriculacion"></app-input> -->
    <app-select [label]="'Estado Matriculación'" [options]="this.matriculaService.getEstadosMatriculacion()"
      formControlName="estadoMatriculacion"></app-select>
    }@else {
    }
    <app-date-input [label]="'Fecha Matriculacion'" formControlName="fechaMatriculacion"></app-date-input>

    <div class="w-full flex justify-end mt-2">
      <app-button (onClick)="onSubmit()">
        Guardar

      </app-button>
    </div>
  </form>
</app-modal>
