<div class="relative flex w-full flex-col">
  @if (label) {
    <div class="">
      {{ label }}
    </div>
  }
  <div>
    <button
      class="text-md flex w-full items-center justify-between rounded-md border border-black bg-whiter p-2"
      (click)="toggleOptionsVisibility()"
    >
      @if (selectedOption()) {
        {{ selectedOption().label }}
      } @else {
        Seleccionar
      }
      @if (isOptionsVisible) {
        <i class="ri-arrow-down-s-fill"></i>
      } @else {
        <i class="ri-arrow-right-s-fill"></i>
      }
    </button>
  </div>
  <ul
    class="absolute top-[110%] z-10 max-h-44 w-full flex-col overflow-y-auto rounded-md border border-black bg-whiter"
    [class]="isOptionsVisible ? 'flex' : 'hidden'"
  >
    @if (selectedOption() !== null) {
      <li>
        <button
          (click)="selectOption(null)"
          class="text-md w-full cursor-pointer bg-whiter p-2 text-left hover:bg-white/20"
        >
          Deshacer selección
        </button>
      </li>
    }
    @for (option of options; track $index) {
      <li>
        <button
          (click)="selectOption(option)"
          class="text-md w-full cursor-pointer bg-whiter p-2 text-left hover:bg-white/20"
        >
          {{ option.label }}
        </button>
      </li>
    }
  </ul>
</div>
