<app-modal
  [isOpen]="isOpen()"
  [title]="'title'"
  (onClose)="this.matriculaFormService.close()"
>
  <form class="flex flex-col gap-2" [formGroup]="matriculaForm">
    <app-input
      [label]="'Id Expediente'"
      formControlName="idExpediente"
      [disabled]="this.matricula()?.numeroMatricula !== null"
    ></app-input>
    <app-input
      [label]="'Id Titulacion'"
      formControlName="idTitulacion"
      [disabled]="this.matricula()?.numeroMatricula !== null"
      ></app-input>
    @if (this.matricula()?.numeroMatricula) {
      <app-input
        [label]="'Estado Matriculación'"
        formControlName="estadoMatriculacion"
      ></app-input>
    }
    <app-date-input
      [label]="'Fecha Matriculacion'"
      formControlName="fechaMatriculacion"></app-date-input>

    <app-button> Guardar </app-button>
  </form>
</app-modal>
