.pagination{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.pagination-section{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.data{
  border: 1px solid rgb(var(--color-black));
  padding: 5px 10px;
  font-size: 14px;
  background-color: transparent;
  border-radius: 5px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
