:host {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex-grow: 1;
}

.filter-form-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.section{
  background-color: white;
  padding: 0.5rem;
  margin: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.filter-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  /* padding: 1rem; */
  justify-content: space-between;
}
