<table class="border-collapse">
  <thead>
    <tr>
      @for (column of columns; track $index) {
      <th (click)="columnClicked(column)" class=" hover:bg-secondary/20" [ngClass]="{
          'cursor-pointer': column !== 'actions',
          'bg-secondary/30': column === columnOrder,
          'border-r border-black/20': $index !== columns.length - 1,
        }">
        <button class="cursor-pointer w-max h-10 flex items-center justify-center gap-4 px-20">
          <span class="p-2">
            {{transformTitle(column) | titlecase}}
          </span>
          @if (columnOrder === column) {
          @if (orderType === 'asc') {
          <i class="material-icons">expand_more</i>
          }@else {
          <i class="material-icons">expand_less</i>
          }
          }@else {
          <i class="material-icons" style="color: transparent;">more_horiz</i>
          }
        </button>
      </th>
      }
    </tr>
  </thead>
  <tbody>
    @for (item of data; track $index) {
    <tr class=" hover:bg-secondary/30 border-black/20 border">
      @for (column of columns; track $index) {
      <td class="text-start px-1 py-2">
        <span class="w-full flex m-1">
          @if (isDate(item[column])) {
          {{anyToDate(item[column]) | date: 'dd/MM/yyyy'}}
          }@else {
          {{item[column]}}
          }
        </span>
      </td>
      }
    </tr>
    }
  </tbody>
</table>

@if (columns.length === 0 && data.length === 0) {
<div>
  No data to display
</div>
}
