.input-group{
  display: flex;
  flex-direction: column;
}

.input-group > label{
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.input-group > input{
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  background-color: #f4f4f4;
}
