<div class="flex w-full flex-col items-center">
  <a
    class="element flex w-full cursor-pointer items-start gap-2 rounded-md px-2 py-1.5 hover:bg-comment/20"
    [routerLink]="!hasSubmenu ? url : null"
    routerLinkActive="active_link"
    (click)="hasSubmenu && toggleCollapsed()"
  >
    <span class="icon font-bold text-primary">
      <ng-content select="[role=icon]"></ng-content>
    </span>
    <span class="grow select-none bg-transparent text-lg">{{ label }}</span>
    @if (hasSubmenu) {
      <i
        [ngClass]="isOpen ? 'ri-arrow-down-s-fill' : 'ri-arrow-right-s-fill'"
      ></i>
    }
  </a>

  @if (hasSubmenu) {
    <div class="submenu w-full" [ngClass]="isOpen ? 'block' : 'hidden'">
      <ng-content select="[role=submenu]"></ng-content>
      <hr class="divide-x-2 border-black" />
    </div>
  }
</div>
