<app-sidebar></app-sidebar>
<app-header></app-header>
<div class="flex gap-x-2 ">
  <div class="flex flex-col filter-container">
    <!-- TIPO DE ALUMNO -->
    <app-section [title]="'Tipo de alumnos'">
      <app-group-icon role="icon" color="red"></app-group-icon>
      <div role="content">
        <app-input  />
      </div>
    </app-section>
    <!-- CALIFICACIONES -->
    <app-section [title]="'Calificaciones'">
      <app-checklist-icon role="icon" color="red"></app-checklist-icon>
      <div role="content">
        <app-input  />
      </div>
    </app-section>
    <app-section [title]="'Periodo'">
      <app-clock-icon role="icon" color="red"></app-clock-icon>
      <div role="content">
        <app-input  />
      </div>
    </app-section>
    <app-section [title]="'Provincia'">
      <app-location-icon role="icon" color="red"></app-location-icon>
      <div role="content">
        <app-input  />
      </div>
    </app-section>
  </div>
  <div class="grow filter-container">
    <app-section [title]="'Criterios Alumnos'">
      <app-paper-icon role="icon" color="red"></app-paper-icon>
      <div role="content">
        <app-input [label]="'Label'" />
      </div>
    </app-section>
  </div>
</div>
<!-- <router-outlet></router-outlet> -->
