<table class="border-collapse">
  <thead>
    <th>
      <button class="table-head" (click)="filterByColumn('numeroExpediente')">
        <span>Nº Expediente</span>
        @if (this.searchStudentsService.filters.orderBy === 'numeroExpediente') {
        @if (this.searchStudentsService.filters.order === 'asc') {
        <i class="material-icons">expand_more</i>
        }@else {
        <i class="material-icons">expand_less</i>
        }
        }@else {
        <i class="material-icons" style="color: transparent;">more_horiz</i>
        }
      </button>
    </th>
    <th>
      <button class="table-head" (click)="filterByColumn('nombre')">
        <span>Nombre</span>
        @if (this.searchStudentsService.filters.orderBy === 'nombre') {
        @if(this.searchStudentsService.filters.order === 'asc') {
        <i class="material-icons">expand_more</i>
        }@else {
        <i class="material-icons">expand_less</i>
        }
        }@else {
        <i class="material-icons" style="color: transparent;">more_horiz</i>
        }
      </button>
    </th>
    <th>
      <button class="table-head" (click)="filterByColumn('apellidos')">
        <span>Apellidos</span>
        @if (this.searchStudentsService.filters.orderBy === 'apellidos') {
        @if (this.searchStudentsService.filters.order === 'asc') {
        <i class="material-icons">expand_more</i>
        }@else {
        <i class="material-icons">expand_less</i>
        } }@else {
        <i class="material-icons" style="color: transparent;">more_horiz</i>
        }
      </button>
    </th>
    <th>
      <button class="table-head" (click)="filterByColumn('tipoConvenio')">
        <span>Tipo Convenio</span>
        @if(this.searchStudentsService.filters.orderBy === 'tipoConvenio') {
        @if (this.searchStudentsService.filters.order === 'asc') {
        <i class="material-icons">expand_more</i>
        }@else {
        <i class="material-icons">expand_less</i>
        } }@else {
        <i class="material-icons" style="color:  transparent;">more_horiz</i>
        }
      </button>
    </th>
    <th>
      <button class="table-head" (click)="filterByColumn('nacionalidad')">
        <span>Nacionalidad</span>
        @if(this.searchStudentsService.filters.orderBy === 'nacionalidad') {
        @if (this.searchStudentsService.filters.order === 'asc') {
        <i class="material-icons">expand_more</i>
        }@else {
        <i class="material-icons">expand_less</i>
        } }@else {
        <i class="material-icons" style="color: transparent;">more_horiz</i>
        }
      </button>
    </th>
  </thead>
  <tbody>
    @for (estudiante of filteredStudents(); track $index) {
    <tr>
      <td>
        <span>
          {{ estudiante.numeroExpediente }}
        </span>
      </td>
      <td>
        <span>
          {{ estudiante.nombre }}
        </span>
      </td>
      <td>
        <span>
          {{ estudiante.apellidos }}
        </span>
      </td>
      <td>
        <span>
          {{ estudiante.tipoConvenio }}
        </span>
      </td>
      <td>
        <span>
          {{ estudiante.nacionalidad }}
        </span>
      </td>
    </tr>
    }
  </tbody>
</table>
