<table>
  <thead>
    <th>
      <button class="table-head" (click)="filterByColumn('numeroExpediente')">
        <span>Nº Expediente</span>
        @if (this.searchStudentsService.filters.orderBy === 'numeroExpediente') {
        @if (this.searchStudentsService.filters.order
        === 'asc') { <app-expand-more-icon></app-expand-more-icon>
        }@else {
        <app-expand-less-icon></app-expand-less-icon>
        }
        }@else {
        <app-menu-icon></app-menu-icon>
        }
      </button>
    </th>
    <th>
      <button class="table-head" (click)="filterByColumn('nombre')">
        <span>Nombre</span>
        @if (this.searchStudentsService.filters.orderBy === 'nombre') {
        @if(this.searchStudentsService.filters.order === 'asc') {
        <app-expand-more-icon></app-expand-more-icon>
        }@else {
        <app-expand-less-icon></app-expand-less-icon>
        }
        }@else {
        <app-menu-icon></app-menu-icon>
        }
      </button>
    </th>
    <th>
      <button class="table-head" (click)="filterByColumn('apellidos')">
        <span>Apellidos</span>
        @if (this.searchStudentsService.filters.orderBy === 'apellidos') {
        @if (this.searchStudentsService.filters.order === 'asc') {
        <app-expand-more-icon></app-expand-more-icon>
        }@else {
        <app-expand-less-icon></app-expand-less-icon>
        } }@else {
        <app-menu-icon></app-menu-icon>
        }
      </button>
    </th>
    <th>
      <button class="table-head" (click)="filterByColumn('tipoConvenio')">
        <span>Tipo Convenio</span>
        @if(this.searchStudentsService.filters.orderBy === 'tipoConvenio') {
        @if (this.searchStudentsService.filters.order === 'asc') {
        <app-expand-more-icon></app-expand-more-icon>
        }@else {
        <app-expand-less-icon></app-expand-less-icon>
        } }@else {
        <app-menu-icon></app-menu-icon>
        }
      </button>
    </th>
    <th>
      <button class="table-head" (click)="filterByColumn('nacionalidad')">
        <span>Nacionalidad</span>
        @if(this.searchStudentsService.filters.orderBy === 'nacionalidad') {
        @if (this.searchStudentsService.filters.order === 'asc') {
        <app-expand-more-icon></app-expand-more-icon>
        }@else {
        <app-expand-less-icon></app-expand-less-icon>
        } }@else {
        <app-menu-icon></app-menu-icon>
        }
      </button>
    </th>
  </thead>
  <tbody>
    @for (estudiante of filteredStudents(); track $index) {
    <tr>
      <td>{{ estudiante.numeroExpediente }}</td>
      <td>{{ estudiante.nombre }}</td>
      <td>{{ estudiante.apellidos }}</td>
      <td>{{ estudiante.tipoConvenio }}</td>
      <td>{{ estudiante.nacionalidad }}</td>
    </tr>
    }
  </tbody>
</table>

<!-- <app-pagination [currentPage]="this.searchStudentsService.filters.page"
  [totalPages]="this.searchStudentsService.totalPage" [totalItems]="160"
  [itemsPerPage]="this.searchStudentsService.filters.pageSize"
  (nextPage)="nextPage()"
  (previousPage)="previousPage()"
  (goToPage)="goToPage($event)"
>
</app-pagination> -->
