:host {
  flex-grow: 1;
  overflow: auto;
}

.table-head {
  width: 100%;
  height: 30px;
  background-color: rgb(var(--color-secondary), 0.3);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
span {
  padding: 0.5rem;
}

table {
  border-collapse: collapse;
}

table > tbody {
}

table > tbody > tr > td {
  text-align: start;
  padding: 1rem;
}
