:host {
  margin: 0.25rem 1rem;
  background-color: white;
  border-radius: 0.5rem;
  flex-grow: 1;
  overflow: auto;
}

.table-head {
  width:max-content;
  height: 2.5rem;
  background-color: rgb(var(--color-secondary), 0.3);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 0 5rem;
  text-transform: uppercase;
}
span {
  padding: 0.5rem;
}

table {
  border-collapse: collapse;
}


table > tbody > tr > td {
  text-align: start;
  padding: 0.25rem;
}
table > tbody > tr > td > span {
  width: 100%;
  display: flex;
  margin: 0.25rem;
  background-color: rgb(var(--color-secondary), 0.1);
}
