<form class="form-container" [formGroup]="studentForm">
  <div class="flex gap-2">
    <app-section [title]="'Nombre'">
      <app-group-icon role="icon" color="red"></app-group-icon>
      <app-input role="content" formControlName="nombre"></app-input>
    </app-section>
    <app-section [title]="'Apellidos'">
      <app-group-icon role="icon" color="red"></app-group-icon>
      <app-input role="content" formControlName="apellidos"></app-input>
    </app-section>
  </div>
  <app-section [title]="'Documento Identidad'">
    <app-group-icon role="icon" color="red"></app-group-icon>
    <app-input role="content" formControlName="documentoIdentidad"></app-input>
  </app-section>
  <app-section [title]="'Fecha Nacimiento'">
    <app-group-icon role="icon" color="red"></app-group-icon>
    <app-input role="content" formControlName="fechaNacimiento"></app-input>
  </app-section>
  <app-section [title]="'Nacionalidad'">
    <app-group-icon role="icon" color="red"></app-group-icon>
    <app-input role="content" formControlName="nacionalidad"></app-input>
  </app-section>
  <app-section [title]="'Dirección'">
    <app-group-icon role="icon" color="red"></app-group-icon>
    <app-input role="content" formControlName="direccion"></app-input>
  </app-section>
  <app-section [title]="'Sexo'">
    <app-group-icon role="icon" color="red"></app-group-icon>
    <!-- <app-input role="content" formControlName="sexo"></app-input> -->
    <app-select role="content" formControlName="sexo" [options]="listSexo"></app-select>
  </app-section>
  <app-section [title]="'Tipo Convenio'">
    <app-group-icon role="icon" color="red"></app-group-icon>
    <app-select role="content" formControlName="tipoConvenio" [options]="listTipoConvenio"></app-select>
  </app-section>
  <div class="flex gap-2">
    <app-button [themeType]="'primary'" (onClick)="onSubmit()"> Guardar </app-button>
    <app-button [themeType]="'outline'" (onClick)="clearForm()"> Limpiar </app-button>
  </div>
</form>
